{% extends "layout.html" %}
{% block content %}
<h2>Документы</h2>
<table>
  <tr><th>Дата</th><th>Тип</th><th>Название</th><th>Номер</th><th>Скачать</th></tr>
  {% for d in docs %}
  <tr>
    <td>{{ d.created_at.strftime('%Y-%m-%d %H:%M') if d.created_at else '' }}</td>
    <td>{{ d.kind }}</td>
    <td>{{ d.title }}</td>
    <td>{{ d.number or '' }}</td>
    <td><a target="_blank" href="/files?path={{ d.filepath | replace('storage\\docs\\','') | replace('storage/docs/','') }}">{{ d.filepath.split('/')[-1].split('\\')[-1] }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
